.login {
  position: relative;
  margin: 0 auto;
  float: left;
  width: 100%;
  height: auto;
  padding: 50px 0px;
  display: flex;
  justify-content: center;
}

.formulario {
  width: 400px;
  font-family: Arial, Helvetica, sans-serif;
}

.formulario h3 {
  font-size: 22px;
  text-align: left;
}

.formulario label {
  display: block;
  font-size: 14px;
  color: #333;
}

.inp_login,
.inp_senha {
  font-size: 14px;
  padding: 10px 10px;
  border-radius: 3px;
  border: solid 1px #666;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.link_esqueceu {
  font-weight: bold;
  color: #ff009c;
  display: block;
  text-align: center;
  margin-bottom: 20px;
  text-decoration: none;
}

.bt_entrar {
  display: block;
  padding: 10px 0px;
  width: 100%;
  background: #999;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}

.bt_entrar:hover {
  background-color: #ff009c;
  transform: scale(1.03);
  transition: 0.3s;
}

.cria_conta {
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding: 30px 0 0 0;
}

.cria_conta a {
  text-decoration: none;
  color: #ff009c;
}
