body {
  font-family: Arial, Helvetica, sans-serif;
}

.polipriva {
  width: 100%;
  height: auto;
  margin: 0 auto;
  float: left;
}

.box_poliseg {
  width: 95%;
  height: 80px;
  text-align: center;
  background-image: linear-gradient(to right bottom, #f600ab, #fd0c6b);
  margin-left: 2.5%;
  border-radius: 20px;
  margin-bottom: 20px;
  display: block;
}

.poliseg_h3 {
  font-size: 40px;
  padding-top: 20px;
  color: #fff;
}

.polipriva_h3 {
  color: #ff009c;
  text-align: left;
  padding-left: 5%;
  font-size: 20px;
}

.box_poli {
  float: left;
  height: auto;
  width: 100%;
}

.box_poli hr {
  width: 90%;
  margin: 0 5% 0 5%;
  margin-bottom: 12px;
  border: 2px solid #ff009c;
  float: left;
}

.box_infos {
  width: 90%;
  height: auto;
  font-size: 20px;
  text-align: left;
  padding-left: 5%;
}

.intros_p {
  float: left;
  padding-top: 10px;
  font-weight: 800;
  width: 100%;
  height: auto;
  text-transform: uppercase;
}

.infos1 {
  font-size: 16px;
  text-align: left;
  font-weight: 600;
}

.infos1 a {
  text-decoration: none;
  color: #ff009c;
}

.table_poli {
  width: 100%;
  height: auto;
  border: solid 0.5px #0e0e0e;
  font-size: 18px;
  border-spacing: 0;
  text-align: left;
}

.table_poli th {
  color: #fff;
  background-color: #ff009c;
  text-transform: uppercase;
  text-align: center;
  padding: 10px !important;
}

.table_poli th,
tr,
td {
  border: solid 0.5px #0e0e0e;
  padding: 20px 15px;
}

.table_poli th:first-child {
  width: 30%;
}

.table_poli tr {
  color: #0e0e0e;
  background-color: #fff;
}

.email_encarreg {
  text-decoration: none;
  color: #ff009c;
}

@keyframes colorChange {
  0% {
    color: #ff009c;
  }
  25% {
    color: #ff48b9;
  }
  50% {
    color: #ff9eda;
  }
  75% {
    color: #ff48b9;
  }
  100% {
    color: #ff009c;
  }
}

.email_encarreg:hover {
  animation: colorChange 2s ease-in-out infinite;
}
