body {
  font-family: Arial, Helvetica, sans-serif;
}

.polipriva {
  width: 100%;
  height: auto;
  margin: 0 auto;
  float: left;
}

.box_poliseg {
  width: 95%;
  height: 80px;
  text-align: center;
  background-image: linear-gradient(to right bottom, #f600ab, #fd0c6b);
  margin-left: 2.5%;
  border-radius: 20px;
  margin-bottom: 20px;
  display: block;
}

.poliseg_h3 {
  font-size: 40px;
  padding-top: 20px;
  color: #fff;
}

.polipriva_h3 {
  color: #ff009c;
  text-align: left;
  padding-left: 5%;
  font-size: 20px;
}

.box_poli {
  float: left;
  height: auto;
  width: 100%;
}

.box_poli hr {
  width: 90%;
  margin: 0 5% 0 5%;
  margin-bottom: 12px;
  border: 2px solid #ff009c;
  float: left;
}

.box_infos {
  width: 90%;
  height: auto;
  font-size: 20px;
  text-align: left;
  padding-left: 5%;
}

.intros_p {
  float: left;
  padding-top: 10px;
  font-weight: 800;
  width: 100%;
  height: auto;
  text-transform: uppercase;
}

.infos1 {
  font-size: 16px;
  text-align: left;
  font-weight: 600;
}

.infos1 a {
  text-decoration: none;
  color: #ff009c;
}

.table_poli {
  width: 100%;
  height: auto;
  border: solid 2px #0e0e0e;
  text-align: center;

  font-size: 18px;
}

.table_poli tr {
  color: #fff;
  background-color: #ff009c;
  text-transform: uppercase;
}
